In [9]:
import duckdb as ddb
import os
from glob import glob

conn = ddb.connect(database="mimic_v2.db")

paths = {
    'ed': 'files/ed',
    'hosp': 'files/hosp',
    'icu': 'files/icu',
}

for schema, path in paths.items():
    # create schema if not exists
    conn.execute(f"CREATE SCHEMA IF NOT EXISTS {schema};")
    csv_files = sorted(glob(os.path.join(path, '*.csv')))
    print(f"Found {len(csv_files)} csv files in {path} for schema {schema}")
    for p in csv_files:
        # derive a safe view name from filename
        fname = os.path.splitext(os.path.basename(p))[0]
        view_name = ''.join(c if c.isalnum() else '_' for c in fname).lower()
        full_view = f"{schema}.{view_name}"
        # create or replace view pointing to the CSV
        sql = f"CREATE OR REPLACE VIEW {full_view} AS SELECT * FROM read_csv_auto('{p}');"
        try:
            conn.execute(sql)
            print(f"Created view {full_view} -> {p}")
        except Exception as e:
            print(f"Failed to create view {full_view} for {p}: {e}")

print('Finished creating views.')

Found 6 csv files in files/ed for schema ed
Created view ed.diagnosis -> files/ed/diagnosis.csv
Created view ed.edstays -> files/ed/edstays.csv
Created view ed.medrecon -> files/ed/medrecon.csv
Created view ed.pyxis -> files/ed/pyxis.csv
Created view ed.triage -> files/ed/triage.csv
Created view ed.vitalsign -> files/ed/vitalsign.csv
Found 22 csv files in files/hosp for schema hosp
Created view hosp.admissions -> files/hosp/admissions.csv
Created view hosp.d_hcpcs -> files/hosp/d_hcpcs.csv
Created view hosp.d_icd_diagnoses -> files/hosp/d_icd_diagnoses.csv
Created view hosp.d_icd_procedures -> files/hosp/d_icd_procedures.csv
Created view hosp.d_labitems -> files/hosp/d_labitems.csv
Created view hosp.diagnoses_icd -> files/hosp/diagnoses_icd.csv
Created view hosp.drgcodes -> files/hosp/drgcodes.csv
Created view hosp.emar -> files/hosp/emar.csv
Created view hosp.emar_detail -> files/hosp/emar_detail.csv
Created view hosp.hcpcsevents -> files/hosp/hcpcsevents.csv
Created view hosp.labevents -> files/hosp/labevents.csv
Created view hosp.microbiologyevents -> files/hosp/microbiologyevents.csv
Created view hosp.omr -> files/hosp/omr.csv
Created view hosp.patients -> files/hosp/patients.csv
Created view hosp.pharmacy -> files/hosp/pharmacy.csv
Created view hosp.poe -> files/hosp/poe.csv
Created view hosp.poe_detail -> files/hosp/poe_detail.csv
Created view hosp.prescriptions -> files/hosp/prescriptions.csv
Created view hosp.procedures_icd -> files/hosp/procedures_icd.csv
Created view hosp.provider -> files/hosp/provider.csv
Created view hosp.services -> files/hosp/services.csv
Created view hosp.transfers -> files/hosp/transfers.csv
Found 9 csv files in files/icu for schema icu
Created view icu.caregiver -> files/icu/caregiver.csv
Created view icu.chartevents -> files/icu/chartevents.csv
Created view icu.d_items -> files/icu/d_items.csv
Created view icu.datetimeevents -> files/icu/datetimeevents.csv
Created view icu.icustays -> files/icu/icustays.csv
Created view icu.ingredientevents -> files/icu/ingredientevents.csv
Created view icu.inputevents -> files/icu/inputevents.csv
Created view icu.outputevents -> files/icu/outputevents.csv
Created view icu.procedureevents -> files/icu/procedureevents.csv
Finished creating views.

In [10]:
import duckdb
import polars as pl

# Verbindung herstellen oder Datei anlegen
con = duckdb.connect("mimic_v2.db")

# SQL
df = con.execute("SHOW ALL TABLES").df()
display(df)

,database,schema,name,column_names,column_types,temporary
0,mimic_v2,ed,diagnosis,"[subject_id, stay_id, seq_num, icd_code, icd_v...","[BIGINT, BIGINT, BIGINT, VARCHAR, BIGINT, VARC...",False
1,mimic_v2,ed,edstays,"[subject_id, hadm_id, stay_id, intime, outtime...","[BIGINT, BIGINT, BIGINT, TIMESTAMP, TIMESTAMP,...",False
2,mimic_v2,ed,medrecon,"[subject_id, stay_id, charttime, name, gsn, nd...","[BIGINT, BIGINT, TIMESTAMP, VARCHAR, VARCHAR, ...",False
3,mimic_v2,ed,pyxis,"[subject_id, stay_id, charttime, med_rn, name,...","[BIGINT, BIGINT, TIMESTAMP, BIGINT, VARCHAR, B...",False
4,mimic_v2,ed,triage,"[subject_id, stay_id, temperature, heartrate, ...","[BIGINT, BIGINT, DOUBLE, DOUBLE, DOUBLE, DOUBL...",False
5,mimic_v2,ed,vitalsign,"[subject_id, stay_id, charttime, temperature, ...","[BIGINT, BIGINT, TIMESTAMP, DOUBLE, DOUBLE, DO...",False
6,mimic_v2,hosp,admissions,"[subject_id, hadm_id, admittime, dischtime, de...","[BIGINT, BIGINT, TIMESTAMP, TIMESTAMP, TIMESTA...",False
7,mimic_v2,hosp,d_hcpcs,"[code, category, long_description, short_descr...","[VARCHAR, BIGINT, VARCHAR, VARCHAR]",False
8,mimic_v2,hosp,d_icd_diagnoses,"[icd_code, icd_version, long_title]","[VARCHAR, BIGINT, VARCHAR]",False
9,mimic_v2,hosp,d_icd_procedures,"[icd_code, icd_version, long_title]","[VARCHAR, BIGINT, VARCHAR]",False
10,mimic_v2,hosp,d_labitems,"[itemid, label, fluid, category]","[BIGINT, VARCHAR, VARCHAR, VARCHAR]",False
11,mimic_v2,hosp,diagnoses_icd,"[subject_id, hadm_id, seq_num, icd_code, icd_v...","[BIGINT, BIGINT, BIGINT, VARCHAR, BIGINT]",False
12,mimic_v2,hosp,drgcodes,"[subject_id, hadm_id, drg_type, drg_code, desc...","[BIGINT, BIGINT, VARCHAR, VARCHAR, VARCHAR, BI...",False
13,mimic_v2,hosp,emar,"[subject_id, hadm_id, emar_id, emar_seq, poe_i...","[BIGINT, BIGINT, VARCHAR, BIGINT, VARCHAR, BIG...",False
14,mimic_v2,hosp,emar_detail,"[subject_id, emar_id, emar_seq, parent_field_o...","[BIGINT, VARCHAR, BIGINT, DOUBLE, VARCHAR, BIG...",False
15,mimic_v2,hosp,hcpcsevents,"[subject_id, hadm_id, chartdate, hcpcs_cd, seq...","[BIGINT, BIGINT, DATE, VARCHAR, BIGINT, VARCHAR]",False
16,mimic_v2,hosp,labevents,"[labevent_id, subject_id, hadm_id, specimen_id...","[BIGINT, BIGINT, BIGINT, BIGINT, BIGINT, VARCH...",False
17,mimic_v2,hosp,microbiologyevents,"[microevent_id, subject_id, hadm_id, micro_spe...","[BIGINT, BIGINT, BIGINT, BIGINT, VARCHAR, TIME...",False
18,mimic_v2,hosp,omr,"[subject_id, chartdate, seq_num, result_name, ...","[BIGINT, DATE, BIGINT, VARCHAR, VARCHAR]",False
19,mimic_v2,hosp,patients,"[subject_id, gender, anchor_age, anchor_year, ...","[BIGINT, VARCHAR, BIGINT, BIGINT, VARCHAR, DATE]",False
20,mimic_v2,hosp,pharmacy,"[subject_id, hadm_id, pharmacy_id, poe_id, sta...","[BIGINT, BIGINT, BIGINT, VARCHAR, TIMESTAMP, T...",False
21,mimic_v2,hosp,poe,"[poe_id, poe_seq, subject_id, hadm_id, orderti...","[VARCHAR, BIGINT, BIGINT, BIGINT, TIMESTAMP, V...",False
22,mimic_v2,hosp,poe_detail,"[poe_id, poe_seq, subject_id, field_name, fiel...","[VARCHAR, BIGINT, BIGINT, VARCHAR, VARCHAR]",False
23,mimic_v2,hosp,prescriptions,"[subject_id, hadm_id, pharmacy_id, poe_id, poe...","[BIGINT, BIGINT, BIGINT, VARCHAR, BIGINT, VARC...",False
24,mimic_v2,hosp,procedures_icd,"[subject_id, hadm_id, seq_num, chartdate, icd_...","[BIGINT, BIGINT, BIGINT, DATE, VARCHAR, BIGINT]",False
25,mimic_v2,hosp,provider,[provider_id],[VARCHAR],False
26,mimic_v2,hosp,services,"[subject_id, hadm_id, transfertime, prev_servi...","[BIGINT, BIGINT, TIMESTAMP, VARCHAR, VARCHAR]",False
27,mimic_v2,hosp,transfers,"[subject_id, hadm_id, transfer_id, eventtype, ...","[BIGINT, BIGINT, BIGINT, VARCHAR, VARCHAR, TIM...",False
28,mimic_v2,icu,caregiver,[caregiver_id],[BIGINT],False
29,mimic_v2,icu,chartevents,"[subject_id, hadm_id, stay_id, caregiver_id, c...","[BIGINT, BIGINT, BIGINT, BIGINT, TIMESTAMP, TI...",False
30,mimic_v2,icu,d_items,"[itemid, label, abbreviation, linksto, categor...","[BIGINT, VARCHAR, VARCHAR, VARCHAR, VARCHAR, V...",False
31,mimic_v2,icu,datetimeevents,"[subject_id, hadm_id, stay_id, caregiver_id, c...","[BIGINT, BIGINT, BIGINT, BIGINT, TIMESTAMP, TI...",False
32,mimic_v2,icu,icustays,"[subject_id, hadm_id, stay_id, first_careunit,...","[BIGINT, BIGINT, BIGINT, VARCHAR, VARCHAR, TIM...",False
33,mimic_v2,icu,ingredientevents,"[subject_id, hadm_id, stay_id, caregiver_id, s...","[BIGINT, BIGINT, BIGINT, BIGINT, TIMESTAMP, TI...",False
34,mimic_v2,icu,inputevents,"[subject_id, hadm_id, stay_id, caregiver_id, s...","[BIGINT, BIGINT, BIGINT, BIGINT, TIMESTAMP, TI...",False
35,mimic_v2,icu,outputevents,"[subject_id, hadm_id, stay_id, caregiver_id, c...","[BIGINT, BIGINT, BIGINT, BIGINT, TIMESTAMP, TI...",False
36,mimic_v2,icu,procedureevents,"[subject_id, hadm_id, stay_id, caregiver_id, s...","[BIGINT, BIGINT, BIGINT, BIGINT, TIMESTAMP, TI...",False

In [26]:
con.execute("SELECT * FROM ed.diagnosis LIMIT 5").df()

,subject_id,stay_id,seq_num,icd_code,icd_version,icd_title
0,10000032,32952584,1,4589,9,HYPOTENSION NOS
1,10000032,32952584,2,07070,9,UNSPECIFIED VIRAL HEPATITIS C WITHOUT HEPATIC ...
2,10000032,32952584,3,V08,9,ASYMPTOMATIC HIV INFECTION
3,10000032,33258284,1,5728,9,"OTH SEQUELA, CHR LIV DIS"
4,10000032,33258284,2,78959,9,OTHER ASCITES