In [18]:
import duckdb as ddb

conn = ddb.connect(database="mimic_v2.db")

conn.execute("""
-- HOSPITAL ED
    create schema if not exists ed;
    CREATE VIEW IF NOT EXISTS ed.diagnosis AS SELECT * FROM read_csv_auto('files/ed/diagnosis.csv');
-- HOSPITAL DATA
    create schema if not exists hosp;
    CREATE VIEW IF NOT EXISTS hosp.admissions AS SELECT * FROM read_csv_auto('files/hosp/admissions.csv');             
-- ICU DATA      
""")

In [24]:
import duckdb
import polars as pl

# Verbindung herstellen oder Datei anlegen
con = duckdb.connect("mimic_v2.db")

# SQL
df = con.execute("SHOW ALL TABLES").df()
display(df)

,database,schema,name,column_names,column_types,temporary
0,mimic_v2,ed,diagnosis,"[subject_id, stay_id, seq_num, icd_code, icd_v...","[BIGINT, BIGINT, BIGINT, VARCHAR, BIGINT, VARC...",False
1,mimic_v2,hosp,admissions,"[subject_id, hadm_id, admittime, dischtime, de...","[BIGINT, BIGINT, TIMESTAMP, TIMESTAMP, TIMESTA...",False

In [26]:
con.execute("SELECT * FROM ed.diagnosis LIMIT 5").df()

,subject_id,stay_id,seq_num,icd_code,icd_version,icd_title
0,10000032,32952584,1,4589,9,HYPOTENSION NOS
1,10000032,32952584,2,07070,9,UNSPECIFIED VIRAL HEPATITIS C WITHOUT HEPATIC ...
2,10000032,32952584,3,V08,9,ASYMPTOMATIC HIV INFECTION
3,10000032,33258284,1,5728,9,"OTH SEQUELA, CHR LIV DIS"
4,10000032,33258284,2,78959,9,OTHER ASCITES